@tailwind base;
@tailwind components;
@tailwind utilities;

#home{
    background-image: url('../image/food-table-top-view.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    height: 100vh;
    min-height: 100px;
}
/*Hamburger Menu*/
 .hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
 }
 .hamburger-top,
 .hamburger-middle,
 .hamburger-bottom{
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 3px;
    background: #ffffff;
 }
 .hamburger-middle{
    transform: translateY(7px);
 }
 .hamburger-top{
    transform: translateY(14px);
 }